<table class='table table-bordered table-hover table-striped'>
  <tr>
    <th>Index</th>
    <th>Project</th>
    <th>
      Project Status
      <select class='pull-right selectpicker' ng-model='searchtext'>
        <option value=''>All</option>
        <option ng-repeat='project in manageList.projects | unique: "status" | orderBy: "status"' value='{{ project.status }}'>{{ project.status }}</option>
      </select>
    </th>
    <th>Completed</th>
  </tr>
  <tr ng-repeat='project in ctrl.projects | filter: searchtext'>
    <td>{{ $index + 1 }}</td>
    <td>{{ project.title }}</td>
    <td>{{ project.status }}</td>
    <td>{{ project.complete }}</td>
  </tr>
</table>

<div class='row'>
    <div class='col-xs-4'>
        
        <a class='btn btn-primary' ng-click='manageList.toggleNewProjectForm()'>New Project</a>
        <br>
        <br>
        <ng-include src='"templates/forms/newproject.html"'></ng-include>
        
    </div>
</div>